.favorites {
    max-width: 800px;
    margin: 0 auto;
}

.fav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.fav-list li {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: 12px;
    background-image: url("../../../public/haze.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    margin: 5px auto;
    border-radius: 12px;
}

.fav-list p {
    width: 80px;
    text-align: center;
}

.fav-list p.param {
    background-color: rgba(0,0,0,0.5);
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 12px;
    margin: 2px;
    cursor: pointer;
}

.fav-list p.remove {
    color: rgba(0,0,0,0.5);
    font-size: 20px;
    width: 15px;
    cursor: pointer;
    pointer-events: auto;
}
.fav-list p.remove:hover {
    color: rgba(255,0,0,0.5);
}

