.next-hours {
    margin: 35px auto 40px;
    padding: 20px 15px;
    min-width: 210px;
    max-width: 510px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 12px;
}

.single-hour {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.single-hour p {
    margin: 0;
}

.single-hour img {
    width: 80%;
}