.info {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    margin: 30px auto;
    width: 70%;
    max-width: 400px;
    font-size: 18px;
    line-height: 30px;
}