.search {
    display: flex;
    align-self: center;
    justify-content: center;
}

.search input {
    margin: 40px 10px;
    width: 100%;
    max-width: 350px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 12px;
    border: none;
    text-align: center;
}

.search .btns {
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 20px);
    max-width: 350px;
    padding: 10px 0;
    z-index: 1;
    background-color: rgb(61, 60, 60);
    border-radius: 12px;
}

.search button {
    display: block;
    margin: 3px auto;
    background-color: transparent;
    font-size: 14px;
    width: 100%;
    border: none;
    font-family: 'Segoe UI';
    cursor: pointer;
}

.search button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.magn-glass {
    position: relative;
    top: 43px;
    right: 3px
}

.fa-magnifying-glass {
    color: white;
    font-size: 18px;
}