.actual-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.actual-weather-photo {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url("../../../public/haze.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.actual-weather div {
    display: flex;
}

.actual-weather p {
    margin: 10px;
}

.actual-weather h2 {
    margin: 10px 50px;
    text-align: center;
    font-weight: normal;
}

.actual-weather h3 {
    font-weight: normal;
}

.actual-weather h1 {
    margin: 5px auto 15px;
    font-size: 50px;
    font-weight: normal;
}
