.actual-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actual-weather div {
    display: flex;
}

.actual-weather p {
    margin: 10px;
}

.actual-weather h2 {
    margin: 30px 50px 10px;
    text-align: center;
    font-weight: normal;
}

.actual-weather h3 {
    font-weight: normal;
}

.actual-weather h1 {
    margin: 5px auto 15px;
    font-size: 50px;
    font-weight: normal;
}
